@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.links{
    margin-top: 100px
}

.links a{
    text-decoration: none;
}

.links ul{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: 500;
    color: blue
}



figure img{
    width: 400px
}